html, body, div,p, ul, ol{
    margin: 0;
    padding: 0;
    font-size: 16pt;
    text-align: center;
}

h1{
    line-height: 1.4;
    font-size: 2em;
    font-family: "Verdana", monospace;
    margin-top: 80px;
    color: darkcyan;
}

h2{
    line-height: 1.4;
    font-size: 1.5em;
    font-family: "Verdana", monospace;
    margin-top: 1.5em;
    color: darkslategray;
    font-weight: normal;
}

input{
    display: inline-block;
    float: none;
    clear: both;
    height: 40px;
    padding: 0 10px 0 10px;
    border-radius: 4px;
    font: 0.7em Verdana;
    border: 1px solid #999999;
    margin: 0.5em;
}

p{
    font-family: "Verdana", monospace;
    font-weight: normal;
    font-size: 1em;
    color: #333333;
}

ul{
    font-family: "Verdana", monospace;
}

ul li{
    font-family: "Verdana", monospace;
    display: inline-block;
    margin: 0 15px 0 15px;
}

a {
    text-decoration: none;
    background-color: cornsilk;
    padding: 5px;
    color: darkslategrey;
}
